nav {
    background-color: #393f4d
}

a {
    text-decoration: none;
    color: #feda6a
}

a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}